/* === CONTACT STYLES w/ JULIE ===*/

.contact-form {
    
    /*margin-left: 10px;*/
    border: 10px solid red;
    width: 700px;
    height: 800px;
    background-color:  #3c5798;
    margin: 0 auto;
    /* ^ to center the form on the page*/
    margin-top: 70px;
    clear: both;
}

.directional p {
    color: #F9F905;
    display: inline-block;
    width: 100%;
    height: 30px;
    background-color: rgba(100, 20, 160, 0.5);
    margin: 50 auto;
    margin-top: 150px;
    border-radius:60%;
    text-align: center;
    
}

.c-map {
    margin: 0 auto;
    width: 601px;
    margin-top: 25px;
    margin-bottom: 25px;
    /*margin-bottom: 14px;*/
    /*display: inline-block;*/
    border: 7px dotted yellow;
    clear: both;
}

/* === END CONTACT STYLES === */